<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="static/images/favicon.ico">
<link rel="icon" type="image/png" href="/static/images/neosearch.png">
<title>NeoSearch</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% assets "css_all" %}<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div class="">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">NeoSearch</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <div id="searchTerms" class="navbar-form navbar-left" role="search">
        </div>

        <form class="navbar-form navbar-left">
          <div class="form-group">
            <button type="button" id="searchSubmit" class="btn btn-primary btn-block" style="min-width:100px">Search</button>
          </div>
        </form>

        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="dropdown-toggle" id="addTerm">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-form">
              <li>
              <div class="row">
                <div class="col-md-12">
                  <form id="settingsForm">
                    <label>Find search terms:</label>
                    <div class="form-group">
                      <div class="btn-group btn-group-justified">
                        <label class="btn btn-default">
                          <input type="radio" name="proximity-mode" id="prox-all" value='all' checked> All
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" name="proximity-mode" id="prox-any" value='any'> Any
                        </label>
                      </div>
                    </div>
                    <div class="collapse list-group-submenu" id="proximityMenu">
                      <label for="proximityDiv">Search radius (number of words):</label>
                      <div class="form-group" id="proximityDiv">
                        <input class="form-control" name="search-proximity" placeholder="Search radius" min="0" inputmode="numeric" pattern="[0-9]+" type="number" value="0">
                      </div>
                    </div>
                    <label>Results per page:</label>
                    <div class="form-group">
                      <input class="form-control" id="resultsWanted" placeholder="Results per page" min="1" max="100" inputmode="numeric" pattern="[0-9]+" type="number" value="10">
                    </div>
                    <label>Result context (number of characters):</label>
                    <div class="form-group">
                      <input class="form-control" id="resultContext" placeholder="Result contet" min="0" max="100000" inputmode="numeric" pattern="[0-9]+" type="number" value="40">
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-default btn-block" id="reset_page">Reset all settings to default</button>
                    </div>
                  </form>
                </div>
              </div>
              </li>
            </ul>
            </li>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#helpModal">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="Help Dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">This is an alpha test version of NeoSearch. It's designed to help people search Swedenborg's published 
      Latin theological works, with the VERY COOL ability to find all the instances of specific usage. For example, try searching for amo* 
      in the first search box, choose non-verb, and then choose some types of declensions. Click search, and you will see the results that 
      meet those criteria. You can click on the + button to add another search term, and you can also choose the search radius (the distance 
      between two terms). Try verbs with their conjugations too! More coming soon. (A Mac version of this program was first created in 1995, 
      and a version 2.0 reached beta test status in 2007(?). Credits to... Jonathan Rose, Chuck Ebert, Bjornar Larsen, Mattias Fornander, 
      Joshua Schnarr, Michael Pigg, Todd Kaufmann, Lisa Cooper, the Swedenborg Society and John Chadwick, and lots of other people.)	
      </div>
      <div class="modal-footer">
        <div class="modal-footer-left"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="resultsRow">
    <div class="col-sm-9 col-md-7 col-lg-6" id="resultsMain">
      <a name="a"></a>
      <div id="results">
      </div>
      <div id="pageSelection"></div>
    </div>
    <div class="col-sm-9 col-md-5 col-lg-4" id="resultsSidebar">
      <h6 id="resultHeader"></h6>
      <div class="form-group">
        <div class="btn-group-vertical" id="resultsByBook">
        </div>
      </div>
    </div>
  </div>
</div>

{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  var clientVersion = {{ version }};
</script>

</body>
</html>
